/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
sneakidro-b5c47-firebase-adminsdk-cek2d-4288b379a7.json
/.fleet
/.idea
/.vscode
